* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e7efec;
  color: #2f2f2f;
}

.page {
  max-width: 1120px;
  margin: 0 auto 100px;
}

.flight-title {
  font-size: 70px;
  font-weight: 300;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
}

.no-flights {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}
